@model Foodsy.Web.Areas.Recipes.ViewModels.Recipes.AllRecipesViewModel

<div class="col-md-4 element fixed-height">
    <div class="hover_img">
        <img src="@Model.ImageUrl" alt="" />
        <span class="portfolio_zoom img-zoom">
            <a href="@Model.ImageUrl" rel="prettyPhoto" class="hoverZoomLink"></a>
        </span>
        <span class="portfolio_link">
            <a href="@Url.Action("RecipeDetails", new { Model.Id })">View item</a>
        </span>
    </div>
    <div class="item_description">
        <h6>
            <a href="@Url.Action("RecipeDetails", new { Model.Id })">@Model.Name</a>
        </h6>
        <div class="descr">@Model.Description</div>
    </div>
</div>
