<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/Content/img/logoo.png")" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-10 topbar">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="col-md-2 follow_us">
                        <ul>
                            <li><a href="#" class="facebook">Facebook</a></li>
                            <li><a href="#" class="tumbrl">Tumbrl</a></li>
                            <li><a href="#" class="twitter">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <nav id="main_menu">
                        <div class="menu_wrap">
                            <ul class="nav sf-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Recipes", "AllRecipes", "Recipes")</li>
                                <li>@Html.ActionLink("Healthy", "AllArticles", "Articles")</li>
                                <li>@Html.ActionLink("Challenges", "Index", "Home")</li>
                                <li>@Html.ActionLink("Custom menu", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer_bottom bottom">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="foot_logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/Content/img/logo2.png")" />
                            </a>
                        </div>
                        <div class="copyright">&copy; 2014 Elena Pitsin</div>
                    </div>
                    <div class="col-md-7">
                        <div class="foot_right_block">
                            <div class="fright">
                                <form action="#" method="post">
                                    <input class="inp_search" name="name" type="text" value="Search the Site" />
                                </form>
                            </div>
                            <div class="follow_us">
                                <ul>
                                    <li><a href="#" class="facebook">Facebook</a></li>
                                    <li><a href="#" class="tumbrl">Tumbrl</a></li>
                                    <li><a href="#" class="twitter">Twitter</a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>

                            <div class="clear"></div>
                            <div class="foot_menu">
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Recipes", "AllRecipes", "Recipes")</li>
                                    <li>@Html.ActionLink("Healthy", "AllArticles", "Articles")</li>
                                    <li>@Html.ActionLink("Challenges", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Custom menu", "About", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myscript")
    @RenderSection("scripts", required: false)
</body>
</html>
