﻿@model IEnumerable<Foodsy.Web.ViewModels.Challenges.AllChallengesViewModel>

<div class="container">
    <div class="page_container">
        <div class="wrap">
            <div class="container inner_content">
                <div id="options">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn send_btn" href="@Url.Action("CreateChallenge", "Challenges", new { area = String.Empty })">Create challenge</a>
                    }

                    @Html.Partial("_ChallengeTypePartial")

                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="projects">
                        @foreach (var challenge in Model)
                        {
                            <div class="col-md-6 element category01 isotope-item" data-category="category01">
                                <div class="item_description">
                                    <h3>
                                        <a href="@Url.Action("ChallengeDetails", "Challenges", new { area = String.Empty,       challenge.Id })">>@challenge.Title</a>
                                    </h3>
                                    <div class="descr">@challenge.Description</div>
                                </div>
                            </div>
                        }
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
