@model Foodsy.Web.ViewModels.Ingredients.IngredientViewModel

<div class="page_container">
    <div class="wrap">
        <div class="container">
            <section>
                <h2 class="page-header text-center">@Model.Name</h2>
                <div class="row pad5">
                    <div class="col-md-7 col-md-offset-5">
                        <div class="post">
                            <ul class="links">
                                @*<li><span>Calories</span> - @Model.Calories kcal</li>*@
                                <li><span>Proteins</span> - @Model.Proteins grams</li>
                                <li><span>Carbohydrates</span> - @Model.Carbohydrates grams</li>
                                <li><span>Fats</span> - @Model.Fats grams</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
