@model Foodsy.Web.ViewModels.Articles.ArticleViewModel

<div class="post">
    <h2 class="title">
        <span>
            <a href="@Url.Action("ArticleDetails", new { id = Model.Id })">
                @Model.Title
            </a>
        </span>
    </h2>
    <img src="@Model.ImageUrl" />
    <div class="post_info">
        <div class="fleft">
            On <span>@Html.DisplayFor(x => Model.CreatedOn)</span> / Tags
            @foreach (var tag in Model.Tags)
            {
                <span>@tag.Name </span>
            }

        </div>
        <div class="clear"></div>
    </div>
    <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Text.Substring(0, 200)))...</p>
    <a href="@Url.Action("ArticleDetails", new { id = Model.Id })" class="arrow_link">Read more</a>
</div>

