﻿@model IEnumerable<Foodsy.Data.Models.Article>
@{
    ViewBag.Title = "AllArticles";
}

<div class="wrap">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-8">
                    @foreach (var article in Model)
                    {
                        <div class="post">
                            <h2 class="title"><span><a href="blog_post.html">@article.Title</a></span></h2>
                            <img src="@article.ImageUrl" />
                            <div class="post_info">
                                <div class="fleft">On <span>@article.CreatedOn</span> / By <a href="#">John Smith</a> / Tags <a href="#">Works</a>, <a href="#">Personal</a></div>
                                <div class="clear"></div>
                            </div>
                            <p>@article.Text</p>
                            <a href="blog_post.html" class="arrow_link">Read more</a>
                        </div>
                    }
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        <a class="btn send_btn" href="@Url.Action("AllArticles", new { id = i })">@i</a>
                    }
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="widget">
                            <form class="form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn dark_btn">Search</button>
                            </form>
                        </div>
                        <div class="widget">
                            <h2 class="title"><span>recent posts</span></h2>
                            <ul class="recent_post">
                                <li>
                                    <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                                    16th July, 2020
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                                    16th July, 2020
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div><a href="#">It is a long established fact that a reader will be distracted </a></div>
                                    16th July, 2020
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget tags">
                            <h2 class="title"><span>tags</span></h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Dolor</a>
                            <a href="#">Long established</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Latin words</a>
                            <a href="#">Excepteur sint</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
