﻿@model IList<Foodsy.Web.ViewModels.Articles.ArticleViewModel>

<div class="container">
    <section>
        <div class="row">
            <div id="articles">
                @Html.Partial("_AllArticlesPartial", Model)
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget">
                        @using (Ajax.BeginForm("Search", "Articles", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "articles", HttpMethod = "Post" }))
                        {
                            @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                            @Html.AntiForgeryToken()
                            
                            @Html.TextBox("text")
                            <input type="submit" class="btn dark_btn" value="Search" />
                        }
                    </div>

                    @Html.Partial("_RecentPostsPartial")
                   
                    @Html.Partial("_TagsPartial")
                </div>
            </div>
        </div>
    </section>
</div>
