@model Foodsy.Web.ViewModels.Articles.ArticleViewModel

<div class="container">
    <section>
        <h2 class="text-center">@Model.Title</h2>
        <div class="post">
            <img src="@Model.ImageUrl" />
            <div class="post_info">
                <div class="fleft">
                    On <span>@Html.DisplayFor(x => Model.CreatedOn)</span> / Tags
                    @foreach (var tag in Model.Tags)
                    {
                        <span>@tag.Name </span>
                    }
                </div>
                <div class="clear"></div>
            </div>
            <p>@Model.Text</p>
        </div>
    </section>
</div>