@model Foodsy.Web.Areas.Recipes.ViewModels.Actions.ActionViewModel

<li class="action">
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-1 control-label" })
        <div class="col-md-4">
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ParentActions, new { @class = "col-md-1 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.ParentActions, new { @class = "form-control" })
        </div>
    </div>
    <div class="text-center">
        @ViewBag.Count
    </div>
</li>

