﻿@model IEnumerable<Foodsy.Web.ViewModels.Recipes.RecipeViewModel>

<div class="container">
    <div class="page_container">
        <div class="wrap">
            <div class="container inner_content">
                <div id="options">
                    <a class="btn send_btn" href="@Url.Action("CreateRecipe")">Create recipe</a>
                    @Html.Partial("_CategoriesPartial")
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="projects">
                        @foreach (var recipe in Model)
                        {                            
                            <div class="col-md-4 element category01" data-category="category01">
                                <div class="hover_img">
                                    <img src="@recipe.ImageUrl" alt="" />
                                    <span class="portfolio_zoom"><a href="" rel="prettyPhoto[cup-of-coffee_1920x1080_sc]"></a></span>
                                    <span class="portfolio_link"><a href="@Url.Action("RecipeDetails", new { @recipe.Id })">View item</a></span>
                                </div>
                                <div class="item_description">
                                    <h6><a href="@Url.Action("RecipeDetails", new { @recipe.Id })">@recipe.Name</a></h6>
                                    <div class="descr">@recipe.Description</div>
                                </div>
                            </div>
                        }
                        <div class="clear"></div>
                    </div>

                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        <a class="btn send_btn" href="@Url.Action("AllRecipes", new { id = i })">@i</a>
                    }
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
