﻿@model Foodsy.Web.ViewModels.Recipes.RecipeViewModel
@{
    ViewBag.Title = "RecipeDetails";
}

<div class="page_container">
    <div class="wrap">
        <div class="container">
            <section>
                <h2 class="page-header text-center">@Model.Name</h2>
                <div class="row pad5">
                    <div class="col-md-8">
                        <div class="post">
                            <img src="@Model.ImageUrl" />
                            <div class="post_info">
                                <div class="fleft">On <span>@Model.CreatedOn</span> / By <a href="#">Someone</a> / Tags <a href="#">Works</a>, <a href="#">Personal</a></div>
                                <div class="fright"><a href="">@Model.ViewCount</a> Views</div>
                                <div class="clear"></div>
                            </div>
                            <p>@Model.Description</p>
                            <ul class="links">
                                @foreach (var step in Model.Actions)
                                {
                                    <li><a href="#">@step.Text</a></li>
                                }
                            </ul>
                        </div>

                        <div>
                            Likes: <span id="recipe-votes">@Model.Likes.Count</span>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Ajax.ActionLink("Like", "Upvote", new { id = Model.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "recipe-votes", HttpMethod = "Post", OnSuccess = "hideVoteButton" }, new { id = "vote-button", @class = "btn" })
                            }
                        </div>

                        <h4>@Model.Comments.Count comments</h4>
                        <div>
                            <ol id="comments">
                                @foreach (var comment in Model.Comments)
                                {
                                    @Html.Partial("_CommentPartial", comment)
                                }
                            </ol>
                        </div>
                        <h4>Leave a comment</h4>
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "comments", OnFailure = "commentPostFailure" }))
                            {
                                @Html.Hidden("RecipeId", Model.Id)
                                @Html.TextArea("comment", new { @class = "form-control bottom-space" })
                                @Html.AntiForgeryToken()
                                <input type="reset" class="btn dark_btn" value="Clear form" />
                                <input type="submit" class="btn send_btn" value="Post Comment" />
                            }
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar" style="padding-top:60px;">
                            <div class="widget">
                                <h2 class="title"><span>Let's prepare it together!</span></h2>
                                <ul class="links">
                                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                                    <li><a href="#">Adipisicing elit, sed do eiusmod tempor incididunt</a></li>
                                    <li><a href="#">Ut labore et dolore magna aliqua.</a></li>
                                    <li><a href="#">Ut enim ad minim veniam, quis nostrud exercitation ullamco</a></li>
                                    <li><a href="#">Laboris nisi ut aliquip ex ea commodo consequat.</a></li>
                                    <li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
                                    <li><a href="#">In voluptate velit esse cillum</a></li>
                                    <li><a href="#">Excepteur sint occaecat cupidatat non proident</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function commentPostFailure() {
            alert("Error");
        }

        function hideVoteButton() {
            $("#vote-button").hide();
        }
    </script>
}