@model Foodsy.Data.Models.Action

<div class="action">
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Text, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EditorFor(m => m.Text, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.StepLevel, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EditorFor(m => m.StepLevel, new { @class = "form-control" })
            </div>
        </div>
        <div class="text-center">
            @ViewBag.Count
        </div>
    </div>
</div>

